.container {
    width: 100%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2%;
}

.user {
    flex: 1 0 8rem;
}

.pass {
    flex: 1 0 8rem;
}

button {
    flex: 1 0 4rem;
}